body {
    background: url(Wooden.jpg);
}

h1 {font-family= Palatino, 'Palatino Linotype', 
	serif font size: 40px;
}

#button {
	margin-left: 40%;
	margin-right: 40%;
	background-color: #213862;

	border-radius: 15px;
	height: 100px;
}
    
#content-contact {
	font= Charm, cursive;
}  
